html {
  font-size: 10px;
}

body {
  background-color: #fff;
  font-family: arial, helvetica, sans-serif;
  font-size: 1.4rem;
  color: #202124;
  font-weight: 400;
  line-height: 1.5;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  border: 0 none;
  list-style: none outside none;
  outline: 0 none;
  box-sizing: border-box;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

b,
strong {
  font-weight: bolder;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

img {
  vertical-align: middle;
  border-style: none;
  height: auto;
  width: 100%;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input[type=radio],
input[type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}

input[type=date],
input[type=time],
input[type=datetime-local],
input[type=month] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

progress {
  vertical-align: baseline;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

h1,
.h1 {
  font-size: 3.5rem;
}

h2,
.h2 {
  font-size: 3rem;
}

h3,
.h3 {
  font-size: 2.75rem;
}

h4,
.h4 {
  font-size: 2.5rem;
}

h5,
.h5 {
  font-size: 2rem;
}

h6,
.h6 {
  font-size: 1.5rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.pointer {
  cursor: pointer;
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.shadow-md {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28) !important;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.shadow-none {
  box-shadow: none;
}

.appearance_none {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.bt_block {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.br_block {
  border-right: 1px solid rgba(0, 0, 0, 0.125);
}

.bl_block {
  border-left: 1px solid rgba(0, 0, 0, 0.125);
}

.bb_block {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.bt_none {
  border-top: none;
}

.br_none {
  border-right: none;
}

.bl_none {
  border-left: none;
}

.bb_none {
  border-bottom: none;
}

.b-none {
  border: none;
}

.show-search {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28) !important;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
}

.w-full {
  width: 100%;
}

.w-half {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.w-75 {
  width: 75%;
}

.h-full {
  height: 100%;
}

.t-0 {
  top: 0;
}

.l-0 {
  left: 0;
}

.r-0 {
  right: 0;
}

.b-0 {
  bottom: 0;
}

.m-auto {
  margin: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mlr-auto {
  margin-left: auto;
  margin-right: auto;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: start;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: end;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-evenly {
  justify-content: space-evenly;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: start;
}

.align-flex-start {
  align-items: flex-start;
}

.align-end {
  align-items: end;
}

.align-flex-end {
  align-items: flex-end;
}

.align-stretch {
  align-items: stretch;
}

.align-self-center {
  align-self: center;
}

.align-self-start {
  align-self: start;
}

.align-self-flex-start {
  align-self: flex-start;
}

.align-self-end {
  align-self: end;
}

.align-self-flex-end {
  align-self: flex-end;
}

.align-self-stretch {
  align-self: stretch;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.pos-sticky {
  position: -webkit-sticky;
  position: sticky;
}

.pos-fixed {
  position: fixed;
}

.pos-static {
  position: static;
}

.flex-0 {
  flex: 0;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-auto {
  flex: auto;
}

.ta-right {
  text-align: right;
}

.ta-left {
  text-align: left;
}

.ta-center {
  text-align: center;
}

.tt-uppercase {
  text-transform: uppercase;
}

.tt-capitalize {
  text-transform: capitalize;
}

.overflow-visible {
  overflow: visible;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-auto {
  overflow: auto;
}

.overflow-initial {
  overflow: initial;
}

.overflow-inherit {
  overflow: inherit;
}

.text-primary {
  color: #007bff;
}

.text-azure {
  color: #1da1f2;
}

.text-secondary {
  color: #6c757d;
}

.text-success {
  color: #28a745;
}

.text-info {
  color: #17a2b8;
}

.text-warning {
  color: #ffc107;
}

.text-danger {
  color: #dc3545;
}

.text-light {
  color: #f8f9fa;
}

.text-dark {
  color: #343a40;
}

.text-white {
  color: #fff;
}

.bg-primary {
  background-color: #007bff;
}

.bg-azure {
  background-color: #1da1f2;
}

.bg-secondary {
  background-color: #6c757d;
}

.bg-success {
  background-color: #28a745;
}

.bg-info {
  background-color: #17a2b8;
}

.bg-warning {
  background-color: #ffc107;
}

.bg-danger {
  background-color: #dc3545;
}

.bg-light {
  background-color: #f8f9fa;
}

.bg-dark {
  background-color: #343a40;
}

.bg-white {
  background-color: #fff;
}

.col-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.offset-1 {
  margin-left: 8.333333%;
}

.order-1 {
  order: 1;
}

.col-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.offset-2 {
  margin-left: 16.666667%;
}

.order-2 {
  order: 2;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.offset-3 {
  margin-left: 25%;
}

.order-3 {
  order: 3;
}

.col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.offset-4 {
  margin-left: 33.333333%;
}

.order-4 {
  order: 4;
}

.col-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.offset-5 {
  margin-left: 41.666667%;
}

.order-5 {
  order: 5;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.offset-6 {
  margin-left: 50%;
}

.order-6 {
  order: 6;
}

.col-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.offset-7 {
  margin-left: 58.333333%;
}

.order-7 {
  order: 7;
}

.col-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.offset-8 {
  margin-left: 66.666667%;
}

.order-8 {
  order: 8;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.offset-9 {
  margin-left: 75%;
}

.order-9 {
  order: 9;
}

.col-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.offset-10 {
  margin-left: 83.333333%;
}

.order-10 {
  order: 10;
}

.col-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.offset-11 {
  margin-left: 91.666667%;
}

.order-11 {
  order: 11;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.offset-12 {
  margin-left: 100%;
}

.order-12 {
  order: 12;
}

.m-1 {
  margin: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mtb-1 {
  margin: 1rem 0;
}

.mlr-1 {
  margin: 0 1rem;
}

.p-1 {
  padding: 1rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pl-1 {
  padding-left: 1rem;
}

.pr-1 {
  padding-right: 1rem;
}

.ptb-1 {
  padding: 1rem 0;
}

.plr-1 {
  padding: 0 1rem;
}

.m-2 {
  margin: 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.ml-2 {
  margin-left: 2rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mtb-2 {
  margin: 2rem 0;
}

.mlr-2 {
  margin: 0 2rem;
}

.p-2 {
  padding: 2rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pr-2 {
  padding-right: 2rem;
}

.ptb-2 {
  padding: 2rem 0;
}

.plr-2 {
  padding: 0 2rem;
}

.m-3 {
  margin: 3rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.ml-3 {
  margin-left: 3rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mtb-3 {
  margin: 3rem 0;
}

.mlr-3 {
  margin: 0 3rem;
}

.p-3 {
  padding: 3rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pr-3 {
  padding-right: 3rem;
}

.ptb-3 {
  padding: 3rem 0;
}

.plr-3 {
  padding: 0 3rem;
}

.m-4 {
  margin: 4rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.ml-4 {
  margin-left: 4rem;
}

.mr-4 {
  margin-right: 4rem;
}

.mtb-4 {
  margin: 4rem 0;
}

.mlr-4 {
  margin: 0 4rem;
}

.p-4 {
  padding: 4rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.pl-4 {
  padding-left: 4rem;
}

.pr-4 {
  padding-right: 4rem;
}

.ptb-4 {
  padding: 4rem 0;
}

.plr-4 {
  padding: 0 4rem;
}

.m-5 {
  margin: 5rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.ml-5 {
  margin-left: 5rem;
}

.mr-5 {
  margin-right: 5rem;
}

.mtb-5 {
  margin: 5rem 0;
}

.mlr-5 {
  margin: 0 5rem;
}

.p-5 {
  padding: 5rem;
}

.pt-5 {
  padding-top: 5rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.pl-5 {
  padding-left: 5rem;
}

.pr-5 {
  padding-right: 5rem;
}

.ptb-5 {
  padding: 5rem 0;
}

.plr-5 {
  padding: 0 5rem;
}

.m-6 {
  margin: 6rem;
}

.mt-6 {
  margin-top: 6rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.ml-6 {
  margin-left: 6rem;
}

.mr-6 {
  margin-right: 6rem;
}

.mtb-6 {
  margin: 6rem 0;
}

.mlr-6 {
  margin: 0 6rem;
}

.p-6 {
  padding: 6rem;
}

.pt-6 {
  padding-top: 6rem;
}

.pb-6 {
  padding-bottom: 6rem;
}

.pl-6 {
  padding-left: 6rem;
}

.pr-6 {
  padding-right: 6rem;
}

.ptb-6 {
  padding: 6rem 0;
}

.plr-6 {
  padding: 0 6rem;
}

.m-7 {
  margin: 7rem;
}

.mt-7 {
  margin-top: 7rem;
}

.mb-7 {
  margin-bottom: 7rem;
}

.ml-7 {
  margin-left: 7rem;
}

.mr-7 {
  margin-right: 7rem;
}

.mtb-7 {
  margin: 7rem 0;
}

.mlr-7 {
  margin: 0 7rem;
}

.p-7 {
  padding: 7rem;
}

.pt-7 {
  padding-top: 7rem;
}

.pb-7 {
  padding-bottom: 7rem;
}

.pl-7 {
  padding-left: 7rem;
}

.pr-7 {
  padding-right: 7rem;
}

.ptb-7 {
  padding: 7rem 0;
}

.plr-7 {
  padding: 0 7rem;
}

.m-8 {
  margin: 8rem;
}

.mt-8 {
  margin-top: 8rem;
}

.mb-8 {
  margin-bottom: 8rem;
}

.ml-8 {
  margin-left: 8rem;
}

.mr-8 {
  margin-right: 8rem;
}

.mtb-8 {
  margin: 8rem 0;
}

.mlr-8 {
  margin: 0 8rem;
}

.p-8 {
  padding: 8rem;
}

.pt-8 {
  padding-top: 8rem;
}

.pb-8 {
  padding-bottom: 8rem;
}

.pl-8 {
  padding-left: 8rem;
}

.pr-8 {
  padding-right: 8rem;
}

.ptb-8 {
  padding: 8rem 0;
}

.plr-8 {
  padding: 0 8rem;
}

.m-9 {
  margin: 9rem;
}

.mt-9 {
  margin-top: 9rem;
}

.mb-9 {
  margin-bottom: 9rem;
}

.ml-9 {
  margin-left: 9rem;
}

.mr-9 {
  margin-right: 9rem;
}

.mtb-9 {
  margin: 9rem 0;
}

.mlr-9 {
  margin: 0 9rem;
}

.p-9 {
  padding: 9rem;
}

.pt-9 {
  padding-top: 9rem;
}

.pb-9 {
  padding-bottom: 9rem;
}

.pl-9 {
  padding-left: 9rem;
}

.pr-9 {
  padding-right: 9rem;
}

.ptb-9 {
  padding: 9rem 0;
}

.plr-9 {
  padding: 0 9rem;
}

.m-10 {
  margin: 10rem;
}

.mt-10 {
  margin-top: 10rem;
}

.mb-10 {
  margin-bottom: 10rem;
}

.ml-10 {
  margin-left: 10rem;
}

.mr-10 {
  margin-right: 10rem;
}

.mtb-10 {
  margin: 10rem 0;
}

.mlr-10 {
  margin: 0 10rem;
}

.p-10 {
  padding: 10rem;
}

.pt-10 {
  padding-top: 10rem;
}

.pb-10 {
  padding-bottom: 10rem;
}

.pl-10 {
  padding-left: 10rem;
}

.pr-10 {
  padding-right: 10rem;
}

.ptb-10 {
  padding: 10rem 0;
}

.plr-10 {
  padding: 0 10rem;
}

.navbar-link-active {
  color: #1da1f2;
  border-color: #1da1f2;
}
.navbar-link-active:hover {
  color: #1da1f2;
  border-color: #1da1f2;
}

.navbar-link-inactive {
  color: #6b7280;
  border-color: transparent;
}
.navbar-link-inactive:hover {
  color: #1da1f2;
  border-color: #d2d6dc;
}

.navbar {
  height: 56px;
  padding: 0 0.5rem;
}

.logo-section {
  padding: 0 1rem;
}

.logo-img {
  height: 2.8rem;
  width: 6rem;
}

.navbar-btn {
  padding: 0.25rem 0.25rem 0 0.25rem;
  background: transparent;
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none;
  min-width: 4rem;
}
.navbar-btn:focus {
  outline: none;
}

.navbar-link {
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  padding: 0.25rem 0.25rem 0 0.25rem;
  background: transparent;
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none;
  min-width: 3rem;
  border-bottom-width: 2px;
  border-style: solid;
}
.navbar-link:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  color: #1da1f2;
  border-color: #d2d6dc;
}
.navbar-link:hover {
  text-decoration: none;
}

.category-nav:hover, .category-nav:focus {
  color: #1da1f2;
}

.navbar-list {
  margin-left: 1.5rem;
}

.navbar-item {
  margin: -1px 0 -1px 1.5rem;
  flex: 1;
}

.nav-link-photo {
  border-radius: 50%;
  height: 2.4rem;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
  width: 2.4rem;
}

.nav-photo-alt {
  font-weight: 400;
  font-size: 1.5rem;
}

.badge-cont {
  top: -2px;
  left: 14px;
  background-color: #dc3545;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 167ms;
  opacity: 1;
  transform: scale(1);
  height: 1.3rem;
  min-width: 0.6rem;
  border-radius: 0.8rem;
  padding: 0 0.4rem;
  z-index: 1;
  box-sizing: initial;
}

.badge-text {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.33333;
}

.nav-link-logo {
  height: 2rem;
  width: 2rem;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}

.search-bar-result-cont {
  max-width: 60rem;
}

.search-bar-form {
  border: 1px solid #dfe1e5;
  box-shadow: none;
  height: 3.2rem;
  border-radius: 1.6rem;
  z-index: 3;
  margin: 1rem 0 0;
}
.search-bar-form:hover {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.search-input-div {
  padding: 0 0.4rem 0 1.4rem;
}

.search-div {
  flex-wrap: wrap;
}

.search-input {
  font-size: 1.4rem;
  line-height: 3rem;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  flex: 100%;
  -webkit-tap-highlight-color: transparent;
  height: 3.4rem;
}

.clear-btn-div {
  flex: 0 0 auto;
  background: #fff;
}
.clear-btn-div:focus {
  outline: none;
}

.clear-btn-inner {
  line-height: 30rem;
  flex: 1 0 auto;
  background: transparent;
  outline: none;
  padding: 0 0.8rem;
}

.clear-btn-span {
  outline: 0;
  width: 20px;
  margin-right: 12px;
  height: 100%;
  color: #80868b;
  vertical-align: middle;
  fill: currentColor;
  line-height: 2.4rem;
}

.clear-btn-border-left {
  border-left: 1px solid #dfe1e5;
  height: 65%;
}

.search-btn {
  height: 3.2rem;
  line-height: 3.2rem;
  flex: 0 0 auto;
  padding-right: 1.3rem;
  background: transparent;
}
.search-btn:focus {
  outline: none;
}

.search-btn-div {
  background: none;
  color: #4285f4;
  width: 2.4rem;
  height: 2.4rem;
}

.search-btn-span {
  width: 2.4rem;
  height: 2.4rem;
  fill: currentColor;
  line-height: 2.4rem;
}
.search-btn-span svg {
  width: 2rem;
  height: 2rem;
}

.suggestion-section {
  margin-top: -1px;
  z-index: 989;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  max-width: 60rem;
}

.suggestion-div {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  background: #fff;
  box-shadow: 0 4px 6px rgba(32, 33, 36, 0.28);
  list-style-type: none;
  padding-bottom: 4px;
}

.suggestion-divider {
  border-top: 1px solid #e8eaed;
  margin: 0 14px;
  padding-bottom: 4px;
}

.suggestion-list {
  padding-bottom: 1.6rem;
}

.suggestion-item-div {
  margin: 0 2rem 0 1.4rem;
}

.suggestion-div-option {
  padding: 0.6rem 0;
}

.modal {
  z-index: 1060;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  pointer-events: auto;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
  background-color: #fff;
  margin: 30px auto;
  width: 90%;
  padding: 20px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  -webkit-animation-name: openmodal;
          animation-name: openmodal;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
  font-weight: 500;
}

.close-modal-button {
  float: right;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}
.close-modal-button:focus {
  outline: none;
}

.modal-header .close-modal-button {
  padding: 15px;
  margin: -15px -15px -15px auto;
}

button.close-modal-button {
  padding: 0;
  background: 0 0;
  border: 0;
  -webkit-appearance: none;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 15px;
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 15px;
  border-top: 1px solid #e9ecef;
  background-color: #f4f5f7;
  flex-wrap: wrap;
}

@-webkit-keyframes openmodal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes openmodal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.c_pw {
  color: #f5f5f5;
  text-shadow: #c5a05b 0 0 8px;
}

@media screen and (min-width: 280px) {
  .container {
    max-width: 270px;
  }

  .d-xs-none {
    display: none;
  }

  .d-xs-block {
    display: block;
  }

  .d-xs-flex {
    display: flex;
  }

  .d-xs-inline {
    display: inline;
  }

  .d-xs-inline-block {
    display: inline-block;
  }

  .flex-xs-row {
    flex-direction: row;
  }

  .flex-xs-column {
    flex-direction: column;
  }

  .flex-xs-wrap {
    flex-wrap: wrap;
  }

  .flex-xs-nowrap {
    flex-wrap: nowrap;
  }

  .justify-xs-center {
    justify-content: center;
  }

  .justify-xs-start {
    justify-content: start;
  }

  .justify-xs-space-between {
    justify-content: space-between;
  }

  .justify-xs-end {
    justify-content: end;
  }

  .justify-xs-space-around {
    justify-content: space-around;
  }

  .justify-xs-space-evenly {
    justify-content: space-evenly;
  }

  .justify-xs-flex-start {
    justify-content: flex-start;
  }

  .justify-xs-flex-end {
    justify-content: flex-end;
  }

  .align-xs-center {
    align-items: center;
  }

  .align-xs-start {
    align-items: start;
  }

  .align-xs-flex-start {
    align-items: flex-start;
  }

  .align-xs-end {
    align-items: end;
  }

  .align-xs-flex-end {
    align-items: flex-end;
  }

  .align-xs-stretch {
    align-items: stretch;
  }

  .align-self-xs-center {
    align-self: center;
  }

  .align-self-xs-start {
    align-self: start;
  }

  .align-self-xs-flex-start {
    align-self: flex-start;
  }

  .align-self-xs-end {
    align-self: end;
  }

  .align-self-xs-flex-end {
    align-self: flex-end;
  }

  .align-self-xs-stretch {
    align-self: stretch;
  }

  .col-xs-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .offset-xs-1 {
    margin-left: 8.333333%;
  }

  .order-xs-1 {
    order: 1;
  }

  .col-xs-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .offset-xs-2 {
    margin-left: 16.666667%;
  }

  .order-xs-2 {
    order: 2;
  }

  .col-xs-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .offset-xs-3 {
    margin-left: 25%;
  }

  .order-xs-3 {
    order: 3;
  }

  .col-xs-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .offset-xs-4 {
    margin-left: 33.333333%;
  }

  .order-xs-4 {
    order: 4;
  }

  .col-xs-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .offset-xs-5 {
    margin-left: 41.666667%;
  }

  .order-xs-5 {
    order: 5;
  }

  .col-xs-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .offset-xs-6 {
    margin-left: 50%;
  }

  .order-xs-6 {
    order: 6;
  }

  .col-xs-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .offset-xs-7 {
    margin-left: 58.333333%;
  }

  .order-xs-7 {
    order: 7;
  }

  .col-xs-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .offset-xs-8 {
    margin-left: 66.666667%;
  }

  .order-xs-8 {
    order: 8;
  }

  .col-xs-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .offset-xs-9 {
    margin-left: 75%;
  }

  .order-xs-9 {
    order: 9;
  }

  .col-xs-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .offset-xs-10 {
    margin-left: 83.333333%;
  }

  .order-xs-10 {
    order: 10;
  }

  .col-xs-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .offset-xs-11 {
    margin-left: 91.666667%;
  }

  .order-xs-11 {
    order: 11;
  }

  .col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .offset-xs-12 {
    margin-left: 100%;
  }

  .order-xs-12 {
    order: 12;
  }

  .logo-img {
    width: 7rem;
  }

  .navbar-link {
    min-width: 4rem;
  }
}
@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .d-sm-none {
    display: none;
  }

  .d-sm-block {
    display: block;
  }

  .d-sm-flex {
    display: flex;
  }

  .d-sm-inline {
    display: inline;
  }

  .d-sm-inline-block {
    display: inline-block;
  }

  .flex-sm-row {
    flex-direction: row;
  }

  .flex-sm-column {
    flex-direction: column;
  }

  .flex-sm-wrap {
    flex-wrap: wrap;
  }

  .flex-sm-nowrap {
    flex-wrap: nowrap;
  }

  .justify-sm-center {
    justify-content: center;
  }

  .justify-sm-start {
    justify-content: start;
  }

  .justify-sm-space-between {
    justify-content: space-between;
  }

  .justify-sm-end {
    justify-content: end;
  }

  .justify-sm-space-around {
    justify-content: space-around;
  }

  .justify-sm-space-evenly {
    justify-content: space-evenly;
  }

  .justify-sm-flex-start {
    justify-content: flex-start;
  }

  .justify-sm-flex-end {
    justify-content: flex-end;
  }

  .align-sm-center {
    align-items: center;
  }

  .align-sm-start {
    align-items: start;
  }

  .align-sm-flex-start {
    align-items: flex-start;
  }

  .align-sm-end {
    align-items: end;
  }

  .align-sm-flex-end {
    align-items: flex-end;
  }

  .align-sm-stretch {
    align-items: stretch;
  }

  .align-self-sm-center {
    align-self: center;
  }

  .align-self-sm-start {
    align-self: start;
  }

  .align-self-sm-flex-start {
    align-self: flex-start;
  }

  .align-self-sm-end {
    align-self: end;
  }

  .align-self-sm-flex-end {
    align-self: flex-end;
  }

  .align-self-sm-stretch {
    align-self: stretch;
  }

  .col-sm-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .offset-sm-1 {
    margin-left: 8.333333%;
  }

  .order-sm-1 {
    order: 1;
  }

  .col-sm-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .offset-sm-2 {
    margin-left: 16.666667%;
  }

  .order-sm-2 {
    order: 2;
  }

  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .offset-sm-3 {
    margin-left: 25%;
  }

  .order-sm-3 {
    order: 3;
  }

  .col-sm-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .offset-sm-4 {
    margin-left: 33.333333%;
  }

  .order-sm-4 {
    order: 4;
  }

  .col-sm-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .offset-sm-5 {
    margin-left: 41.666667%;
  }

  .order-sm-5 {
    order: 5;
  }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .offset-sm-6 {
    margin-left: 50%;
  }

  .order-sm-6 {
    order: 6;
  }

  .col-sm-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .offset-sm-7 {
    margin-left: 58.333333%;
  }

  .order-sm-7 {
    order: 7;
  }

  .col-sm-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .offset-sm-8 {
    margin-left: 66.666667%;
  }

  .order-sm-8 {
    order: 8;
  }

  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .offset-sm-9 {
    margin-left: 75%;
  }

  .order-sm-9 {
    order: 9;
  }

  .col-sm-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .offset-sm-10 {
    margin-left: 83.333333%;
  }

  .order-sm-10 {
    order: 10;
  }

  .col-sm-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .offset-sm-11 {
    margin-left: 91.666667%;
  }

  .order-sm-11 {
    order: 11;
  }

  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .offset-sm-12 {
    margin-left: 100%;
  }

  .order-sm-12 {
    order: 12;
  }

  .logo-img {
    width: 8rem;
  }

  .navbar-content {
    width: auto;
  }

  .navbar-link {
    min-width: 5rem !important;
  }

  .nav-link-logo {
    height: 2.4rem;
    width: 2.4rem;
  }

  .badge-cont {
    height: 1.6rem;
    min-width: 0.8rem;
  }

  .badge-text {
    font-weight: 500;
    font-size: 1.2rem;
  }

  .navbar-item {
    margin-left: 2rem;
  }

  .navbar {
    padding: 0 1rem;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .d-md-none {
    display: none;
  }

  .d-md-block {
    display: block;
  }

  .d-md-flex {
    display: flex;
  }

  .d-md-inline {
    display: inline;
  }

  .d-md-inline-block {
    display: inline-block;
  }

  .flex-md-row {
    flex-direction: row;
  }

  .flex-md-column {
    flex-direction: column;
  }

  .flex-md-wrap {
    flex-wrap: wrap;
  }

  .flex-md-nowrap {
    flex-wrap: nowrap;
  }

  .justify-md-center {
    justify-content: center;
  }

  .justify-md-start {
    justify-content: start;
  }

  .justify-md-space-between {
    justify-content: space-between;
  }

  .justify-md-end {
    justify-content: end;
  }

  .justify-md-space-around {
    justify-content: space-around;
  }

  .justify-md-space-evenly {
    justify-content: space-evenly;
  }

  .justify-md-flex-start {
    justify-content: flex-start;
  }

  .justify-md-flex-end {
    justify-content: flex-end;
  }

  .align-md-center {
    align-items: center;
  }

  .align-md-start {
    align-items: start;
  }

  .align-md-flex-start {
    align-items: flex-start;
  }

  .align-md-end {
    align-items: end;
  }

  .align-md-flex-end {
    align-items: flex-end;
  }

  .align-md-stretch {
    align-items: stretch;
  }

  .align-self-md-center {
    align-self: center;
  }

  .align-self-md-start {
    align-self: start;
  }

  .align-self-md-flex-start {
    align-self: flex-start;
  }

  .align-self-md-end {
    align-self: end;
  }

  .align-self-md-flex-end {
    align-self: flex-end;
  }

  .align-self-md-stretch {
    align-self: stretch;
  }

  .col-md-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .offset-md-1 {
    margin-left: 8.333333%;
  }

  .order-md-1 {
    order: 1;
  }

  .col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .offset-md-2 {
    margin-left: 16.666667%;
  }

  .order-md-2 {
    order: 2;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .offset-md-3 {
    margin-left: 25%;
  }

  .order-md-3 {
    order: 3;
  }

  .col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .offset-md-4 {
    margin-left: 33.333333%;
  }

  .order-md-4 {
    order: 4;
  }

  .col-md-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .offset-md-5 {
    margin-left: 41.666667%;
  }

  .order-md-5 {
    order: 5;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .offset-md-6 {
    margin-left: 50%;
  }

  .order-md-6 {
    order: 6;
  }

  .col-md-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .offset-md-7 {
    margin-left: 58.333333%;
  }

  .order-md-7 {
    order: 7;
  }

  .col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .offset-md-8 {
    margin-left: 66.666667%;
  }

  .order-md-8 {
    order: 8;
  }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .offset-md-9 {
    margin-left: 75%;
  }

  .order-md-9 {
    order: 9;
  }

  .col-md-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .offset-md-10 {
    margin-left: 83.333333%;
  }

  .order-md-10 {
    order: 10;
  }

  .col-md-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .offset-md-11 {
    margin-left: 91.666667%;
  }

  .order-md-11 {
    order: 11;
  }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .offset-md-12 {
    margin-left: 100%;
  }

  .order-md-12 {
    order: 12;
  }

  .logo-img {
    width: 9rem;
  }

  .modal-content {
    max-width: 70rem;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .d-lg-none {
    display: none;
  }

  .d-lg-block {
    display: block;
  }

  .d-lg-flex {
    display: flex;
  }

  .d-lg-inline {
    display: inline;
  }

  .d-lg-inline-block {
    display: inline-block;
  }

  .flex-lg-row {
    flex-direction: row;
  }

  .flex-lg-column {
    flex-direction: column;
  }

  .flex-lg-wrap {
    flex-wrap: wrap;
  }

  .flex-lg-nowrap {
    flex-wrap: nowrap;
  }

  .justify-lg-center {
    justify-content: center;
  }

  .justify-lg-start {
    justify-content: start;
  }

  .justify-lg-space-between {
    justify-content: space-between;
  }

  .justify-lg-end {
    justify-content: end;
  }

  .justify-lg-space-around {
    justify-content: space-around;
  }

  .justify-lg-space-evenly {
    justify-content: space-evenly;
  }

  .justify-lg-flex-start {
    justify-content: flex-start;
  }

  .justify-lg-flex-end {
    justify-content: flex-end;
  }

  .align-lg-center {
    align-items: center;
  }

  .align-lg-start {
    align-items: start;
  }

  .align-lg-flex-start {
    align-items: flex-start;
  }

  .align-lg-end {
    align-items: end;
  }

  .align-lg-flex-end {
    align-items: flex-end;
  }

  .align-lg-stretch {
    align-items: stretch;
  }

  .align-self-lg-center {
    align-self: center;
  }

  .align-self-lg-start {
    align-self: start;
  }

  .align-self-lg-flex-start {
    align-self: flex-start;
  }

  .align-self-lg-end {
    align-self: end;
  }

  .align-self-lg-flex-end {
    align-self: flex-end;
  }

  .align-self-lg-stretch {
    align-self: stretch;
  }

  .col-lg-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .offset-lg-1 {
    margin-left: 8.333333%;
  }

  .order-lg-1 {
    order: 1;
  }

  .col-lg-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .offset-lg-2 {
    margin-left: 16.666667%;
  }

  .order-lg-2 {
    order: 2;
  }

  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .offset-lg-3 {
    margin-left: 25%;
  }

  .order-lg-3 {
    order: 3;
  }

  .col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .offset-lg-4 {
    margin-left: 33.333333%;
  }

  .order-lg-4 {
    order: 4;
  }

  .col-lg-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .offset-lg-5 {
    margin-left: 41.666667%;
  }

  .order-lg-5 {
    order: 5;
  }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .offset-lg-6 {
    margin-left: 50%;
  }

  .order-lg-6 {
    order: 6;
  }

  .col-lg-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .offset-lg-7 {
    margin-left: 58.333333%;
  }

  .order-lg-7 {
    order: 7;
  }

  .col-lg-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .offset-lg-8 {
    margin-left: 66.666667%;
  }

  .order-lg-8 {
    order: 8;
  }

  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .offset-lg-9 {
    margin-left: 75%;
  }

  .order-lg-9 {
    order: 9;
  }

  .col-lg-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .offset-lg-10 {
    margin-left: 83.333333%;
  }

  .order-lg-10 {
    order: 10;
  }

  .col-lg-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .offset-lg-11 {
    margin-left: 91.666667%;
  }

  .order-lg-11 {
    order: 11;
  }

  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .offset-lg-12 {
    margin-left: 100%;
  }

  .order-lg-12 {
    order: 12;
  }

  .navbar-item {
    flex: 0;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

