@media screen and (min-width: $breakpoint-lg) {
  .container {
    max-width: 960px;
  }

  @include set-class('lg', $displays, 'd', 'display');

  @include set-class('lg', $directions, 'flex', 'flex-direction');

  @include set-class('lg', $wraps, 'flex', 'flex-wrap');

  @include set-class('lg', $justify, 'justify', 'justify-content');

  @include set-class('lg', $items, 'align', 'align-items');

  @include set-class('lg', $items, 'align-self', 'align-self');

  @include set-col('lg', $colNumbersAndSizes);

  .navbar-item {
    flex: 0;
  }

  .navbar-link,
  .navbar-btn {
    font-size: 1.2rem;
    font-weight: initial;
    width: auto;
    text-align: center;
    justify-content: center;
  }

  .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    width: auto;
  }

  .dropdown .mega-dropdown {
    top: 0;
    left: 100%;
    height: 40rem;
  }

  .dropdown-toggle-hover {
    &:hover > .dropdown {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .dropdown-menu {
    margin-top: 0;
    padding-top: 0.5rem;
    background-color: #fff;
    box-shadow:
      0 0.25rem 0.5625rem -0.0625rem rgb(0 0 0 / 3%),
      0 0.275rem 1.25rem -0.0625rem rgb(0 0 0 / 5%);
  }

  .category-section {
    overflow-y: scroll;
  }
}
