@media screen and (min-width: $breakpoint-sm) {
  .container {
    max-width: 540px;
  }

  @include set-class('sm', $displays, 'd', 'display');

  @include set-class('sm', $directions, 'flex', 'flex-direction');

  @include set-class('sm', $wraps, 'flex', 'flex-wrap');

  @include set-class('sm', $justify, 'justify', 'justify-content');

  @include set-class('sm', $items, 'align', 'align-items');

  @include set-class('sm', $items, 'align-self', 'align-self');

  @include set-col('sm', $colNumbersAndSizes);

  .logo-img {
    width: 8rem;
  }

  .navbar-content {
    width: auto;
  }

  .navbar-link {
    min-width: 5rem !important;
  }

  .nav-link-logo {
    height: 2.4rem;
    width: 2.4rem;
  }

  .badge-cont {
    height: 1.6rem;
    min-width: 0.8rem;
  }

  .badge-text {
    font-weight: 500;
    font-size: 1.2rem;
  }

  .navbar-item {
    margin-left: 2rem;
  }

  .navbar {
    padding: 0 1rem;
  }
}
